Datos de localidades

In [3]:
import pandas as pd
import numpy as np

pd.set_option('max_columns' , 90)
pd.set_option('max_rows' , 50)

ruta_sismos = 'datos/sismos.xlsx'  #localizacion del archivo

##!wc -l $ruta_sismos

In [4]:
#Lectura del excel 
%time _ =  excel_sismos = pd.ExcelFile(ruta_sismos)
%time _ = sismos = excel_sismos.parse('Sheet1') ##sismos es la hoja de excel

Wall time: 10.1 s
Wall time: 2.71 s

In [86]:
## visualizacion de excel con df
df= pd.read_excel(ruta_sismos)
print(df)

      Fecha_local Hora_Local  Fecha_UTC  Hora_UTC   Latitud  Longitud  \
0      2003-01-01   16:26:00 2003-01-01  19:26:00    -34.71 -70174.00
1      2003-01-01   14:22:00 2003-01-01  17:22:00 -35112.00 -71375.00
2      2003-01-01   14:02:00 2003-01-01  17:02:00 -31051.00    -71.31
3      2003-01-01   13:25:00 2003-01-01  16:25:00 -30159.00 -70141.00
4      2003-01-01   12:54:00 2003-01-01  15:54:00 -32138.00 -71753.00
5      2003-01-01   12:49:00 2003-01-01  15:49:00 -32331.00    -71.54
6      2003-01-01   07:23:00 2003-01-01  10:23:00 -34509.00 -72185.00
7      2003-01-01   06:07:00 2003-01-01  09:07:00 -31834.00 -70446.00
8      2003-01-01   05:25:00 2003-01-01  08:25:00 -32252.00 -71682.00
9      2003-01-01   03:07:00 2003-01-01  06:07:00 -32252.00 -71719.00
10     2003-01-01   01:35:00 2003-01-01  04:35:00 -30753.00 -71419.00
11     2003-01-01   00:59:00 2003-01-01  03:59:00 -30419.00 -71675.00
12     2003-12-31   23:59:00 2003-01-01  02:59:00 -30403.00 -71597.00
13     2003-01-02   05:24:00 2003-01-02  08:24:00 -33446.00 -70634.00
14     2003-01-02   04:43:00 2003-01-02  07:43:00 -33282.00 -70201.00
15     2003-01-02   03:08:00 2003-01-02  06:08:00 -30644.00    -71.74
16     2003-01-03   16:44:00 2003-01-03  19:44:00 -30958.00 -71499.00
17     2003-01-03   15:37:00 2003-01-03  18:37:00 -34426.00 -70013.00
18     2003-01-03   15:27:00 2003-01-03  18:27:00 -34413.00 -69991.00
19     2003-01-03   15:23:00 2003-01-03  18:23:00 -34431.00 -69965.00
20     2003-01-03   10:01:00 2003-01-03  13:01:00 -30015.00 -69879.00
21     2003-01-03   06:28:00 2003-01-03  09:28:00 -33688.00 -70417.00
22     2003-01-03   05:29:00 2003-01-03  08:29:00 -30579.00 -71527.00
23     2003-01-03   04:35:00 2003-01-03  07:35:00 -29998.00 -71919.00
24     2003-01-03   03:28:00 2003-01-03  06:28:00    -29.94 -71936.00
...           ...        ...        ...       ...       ...       ...
58261  2015-08-17   10:44:00 2015-08-10  13:44:00 -21948.00 -68723.00
58262  2015-08-17   10:07:00 2015-08-10  13:07:00 -22602.00    -69.07
58263  2015-08-16   09:22:00 2015-08-10  12:22:00 -29513.00 -71137.00
58264  2015-08-18   07:07:00 2015-08-10  10:07:00 -29534.00 -71054.00
58265  2015-08-18   06:47:00 2015-08-10  09:47:00 -23911.00 -67153.00
58266  2015-08-18   20:23:00 2015-08-11  23:23:00 -22009.00    -68.53
58267  2015-08-18   17:23:00 2015-08-11  20:23:00 -17889.00 -70493.00
58268  2015-08-18   15:45:00 2015-08-11  18:45:00 -32595.00 -70867.00
58269  2015-08-18   14:21:00 2015-08-11  17:21:00 -23777.00 -66943.00
58270  2015-08-18   11:59:00 2015-08-11  14:59:00 -19533.00    -69.15
58271  2015-08-18   11:57:00 2015-08-11  14:57:00 -31781.00 -71759.00
58272  2015-08-18   11:25:00 2015-08-11  14:25:00 -21279.00    -68.78
58273  2015-08-18   08:20:00 2015-08-11  11:20:00 -20574.00 -69188.00
58274  2015-08-18   04:32:00 2015-08-11  07:32:00 -30737.00 -71438.00
58275  2015-08-18   04:10:00 2015-08-11  07:10:00 -32407.00 -71066.00
58276  2015-08-17   04:01:00 2015-08-11  07:01:00    -22.32 -67611.00
58277  2015-08-19   03:31:00 2015-08-11  06:31:00 -32223.00 -71687.00
58278  2015-08-19   03:01:00 2015-08-11  06:01:00    -33.79 -71959.00
58279  2015-08-19   20:16:00 2015-08-12  23:16:00 -32745.00 -71533.00
58280  2015-08-19   19:13:00 2015-08-12  22:13:00 -22571.00 -68686.00
58281  2015-08-19   19:03:00 2015-08-12  22:03:00 -21054.00 -68162.00
58282  2015-08-19   17:44:00 2015-08-12  20:44:00 -23821.00 -67058.00
58283  2015-08-19   14:45:00 2015-08-12  17:45:00 -32896.00 -70473.00
58284  2015-08-18   01:42:00 2015-08-12  04:42:00 -21498.00 -68449.00
58285  2015-08-18   21:28:00 2015-08-12  00:28:00 -22595.00 -68842.00

       Profundidad( m)  Magnitud_Mc  Referencia Referencia_l  \
0                 13.0          3.1          76            E
1                 63.1          2.9          44           NE
2                 64.4          2.9          33           NO
3                  5.4          3.3          57            E
4                 11.0          3.6          60           NO
5                 30.3          3.4          47            S
6                 27.7          3.5          45           NO
7                121.2          2.7          50            E
8                 12.3          3.5          48           NO
9                 12.4          3.4          51           NO
10                40.7          3.5          27           SO
11                41.8          3.2          50           NO
12                30.7          3.2          44           NO
13                84.4          2.1          27            S
14                81.8          2.6          42            N
15                 9.1          4.1          51           NO
16                73.9          3.2          48           SO
17                 0.2          3.1          73           SE
18                 7.7          3.3          74            E
19                 2.3          3.3          77           SE
20               136.2          3.4          80            E
21                15.0          2.6          35           SE
22                41.5          4.1          36            S
23                 4.2          3.3          65            O
24                34.3          4.0          66            O
...                ...          ...         ...          ...
58261            111.8          3.1          62            N
58262             88.1          3.1          21           SO
58263             52.6          2.7           6            d
58264             44.0          2.9          14            E
58265            166.2          3.4          83           SE
58266            116.8          3.1          66           NE
58267             22.5          2.7          30           NO
58268             75.5          4.2          37           NO
58269            238.2          3.9          99            E
58270            100.3          2.5          38           SE
58271             26.1          2.9          28           NO
58272            119.3          2.5          52            S
58273             89.9          3.6          17           SE
58274             50.1          3.5          20           NO
58275             65.7          2.7          16            E
58276            197.0          3.1          90           NE
58277             26.4          2.5          38           SO
58278             28.4          2.6          22           NO
58279             41.8          3.5          31           NO
58280            107.9          2.6          27            E
58281            147.2          3.2          21           NE
58282            248.8          3.1          89            E
58283             13.8          2.8          14           SE
58284            138.1          2.8          37           SO
58285            103.3          3.5          17           SE

                  localidad
0              San Fernando
1                     Talca
2                Combarbala
3                    Vicuña
4                  La Ligua
5                 Los Vilos
6                 Vichuquen
7                 Salamanca
8                  La Ligua
9                  La Ligua
10                   Ovalle
11                   Ovalle
12                   Ovalle
13                   Colina
14        San José de Maipo
15                Punitaqui
16                   Ovalle
17                 Rancagua
18                 Rancagua
19                 Rancagua
20                   Vicuña
21                 Santiago
22                   Tongoy
23                La Serena
24                La Serena
...                     ...
58261               Ollague
58262             Quillagua
58263              La Ligua
58264                  Pica
58265           Maria Elena
58266               Socaire
58267               Socaire
58268              La Ligua
58269             Vichuquen
58270             Los Vilos
58271  San Pedro de Atacama
58272              Paihuano
58273       Mina Collahuasi
58274            Los Andes.
58275                Calama
58276                  Pica
58277                 Uyuni
58278               Ollague
58279               Socaire
58280               Ollague
58281             Baquedano
58282             Pichilemu
58283              La Ligua
58284                 Uyuni
58285             Baquedano

[58286 rows x 11 columns]

In [87]:
 # Comprobar el tipo de datos de las columnas
 df.dtypes

Fecha_local        datetime64[ns]
Hora_Local                 object
Fecha_UTC          datetime64[ns]
Hora_UTC                   object
Latitud                   float64
Longitud                  float64
Profundidad( m)           float64
Magnitud_Mc               float64
Referencia                  int64
Referencia_l               object
localidad                  object
dtype: object

In [88]:
 # Comprobar el tipo de datos de la columna de latitud

df.Magnitud_Mc.dtype

dtype('float64')

In [89]:
 # Metedo para ordenar: el menor de la magnitud
 Ordenar = df.sort_values ([ 'Magnitud_Mc' ], ascending = True )
 Ordenar.head ( 1 )

,Fecha_local,Hora_Local,Fecha_UTC,Hora_UTC,Latitud,Longitud,Profundidad( m),Magnitud_Mc,Referencia,Referencia_l,localidad
24373,2009-04-29,12:51:00,2009-04-26,16:51:00,-42834.0,-72623.0,22.7,0.8,73,NO,Alto Hospicio

In [99]:
 # Metedo para ordenar: el mayor de la magnitud
Ordenar = df.sort_values ([ 'Magnitud_Mc' ], ascending = False )
Ordenar.head ( 1 )

,Fecha_local,Hora_Local,Fecha_UTC,Hora_UTC,Latitud,Longitud,Profundidad( m),Magnitud_Mc,Referencia,Referencia_l,localidad
27183,2010-02-27,17:22:00,2010-02-27,20:22:00,-33725.0,-71849.0,14.8,8.8,25,N,Cobquecura

In [126]:
##calcula el maximo de Magnitud
df [ 'Magnitud_Mc' ].max()

8.8000000000000007

In [125]:
columnas = ["Fecha_local", "Magnitud_Mc", "localidad"]
df[columnas]

      Fecha_local  Magnitud_Mc             localidad
0      2003-01-01          3.1          San Fernando
1      2003-01-01          2.9                 Talca
2      2003-01-01          2.9            Combarbala
3      2003-01-01          3.3                Vicuña
4      2003-01-01          3.6              La Ligua
5      2003-01-01          3.4             Los Vilos
6      2003-01-01          3.5             Vichuquen
7      2003-01-01          2.7             Salamanca
8      2003-01-01          3.5              La Ligua
9      2003-01-01          3.4              La Ligua
10     2003-01-01          3.5                Ovalle
11     2003-01-01          3.2                Ovalle
12     2003-12-31          3.2                Ovalle
13     2003-01-02          2.1                Colina
14     2003-01-02          2.6     San José de Maipo
15     2003-01-02          4.1             Punitaqui
16     2003-01-03          3.2                Ovalle
17     2003-01-03          3.1              Rancagua
18     2003-01-03          3.3              Rancagua
19     2003-01-03          3.3              Rancagua
20     2003-01-03          3.4                Vicuña
21     2003-01-03          2.6              Santiago
22     2003-01-03          4.1                Tongoy
23     2003-01-03          3.3             La Serena
24     2003-01-03          4.0             La Serena
...           ...          ...                   ...
58261  2015-08-17          3.1               Ollague
58262  2015-08-17          3.1             Quillagua
58263  2015-08-16          2.7              La Ligua
58264  2015-08-18          2.9                  Pica
58265  2015-08-18          3.4           Maria Elena
58266  2015-08-18          3.1               Socaire
58267  2015-08-18          2.7               Socaire
58268  2015-08-18          4.2              La Ligua
58269  2015-08-18          3.9             Vichuquen
58270  2015-08-18          2.5             Los Vilos
58271  2015-08-18          2.9  San Pedro de Atacama
58272  2015-08-18          2.5              Paihuano
58273  2015-08-18          3.6       Mina Collahuasi
58274  2015-08-18          3.5            Los Andes.
58275  2015-08-18          2.7                Calama
58276  2015-08-17          3.1                  Pica
58277  2015-08-19          2.5                 Uyuni
58278  2015-08-19          2.6               Ollague
58279  2015-08-19          3.5               Socaire
58280  2015-08-19          2.6               Ollague
58281  2015-08-19          3.2             Baquedano
58282  2015-08-19          3.1             Pichilemu
58283  2015-08-19          2.8              La Ligua
58284  2015-08-18          2.8                 Uyuni
58285  2015-08-18          3.5             Baquedano

[58286 rows x 3 columns]

In [128]:
df[columnas][df[ 'Magnitud_Mc'] == df[ 'Magnitud_Mc'].max ()]

      Fecha_local  Magnitud_Mc   localidad
27183  2010-02-27          8.8  Cobquecura